/** 
Jenine Clay
*/

body {
    font-family: "Roboto", Roboto;
    font-size: 100%;
    background-color: #1f2937;

}

header {
    background-color: #1f2937;
    color: aliceblue;
}

#container {
    width: 75%;
    margin: 10px auto;
    background-color: white;
    padding: 2em;
}

hero {
    background-color: #1f2937;
}

footer {
    background-color: #1f2937;
    color: aliceblue;
}